

/*Primary*/
$primary-strong-cyan:  hsl(172, 67%, 45%);


/*Neutral*/
$neutral-very-dark-cyan: hsl(183, 100%, 15%);
$neutral-dark-grayish-cyan-v1: hsl(186, 14%, 43%);
$neutral-dark-grayish-cyan-v2: hsl(184, 14%, 56%);
$neutral-light-grayish-cyan-v1: hsl(185, 41%, 84%);
$neutral-light-grayish-cyan-v2: hsl(189, 41%, 97%);
$neutral-white: hsl(0, 0%, 100%);

